@import './variables.scss';

.card {
    border-radius: 10px;
    color: $snow;
    font-size: $fs-normal;
    width: 80%;
    min-height: 720px;
    display: flex;
    overflow: hidden;

    &__parameters {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $jet-2;
        padding: $card-padding 0 $card-padding 0;

        &__date {
            font-size: $fs-sub;

            div:nth-child(1) {
                font-size: $fs-header;
            }
        }

        &__time {
            font-size: $fs-time;
            font-weight: bold;
        }

        &__data {
            display: flex;
            align-items: center;

            &__sun {
                width: 100px;
                height: auto;
            }

            div {
                margin-left: 20px;
            }
        }
    }

    &__visualization {
        width: 65%;
        background-color: $snow;
        text-align: center;
        padding: $card-padding;

        &__title {
            font-size: $fs-header;
            color: $jet-2;

            span:nth-child(2) {
                margin: 0 20px;
            }

            span:nth-child(odd) {
                &:hover {
                    cursor: pointer;
                    color: $celestial_blue;
                    transition: 0.2s;
                }
            }
        }
    }
}