@import './variables.scss';

.card {
    border-radius: 10px;
    color: $snow;
    font-size: $fs-normal;
    width: 80%;
    min-height: 720px;
    display: flex;
    overflow: hidden;

    @include medium-size() {
        font-size: $fs-sub;
    }

    @include tablet() {
        flex-direction: column;
    }

    @include mobile() {
        width: 95%;
    }

    &__parameters {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $jet-2;
        padding: $card-padding 0;

        @include tablet() {
            width: 100%;
            height: 375px;
            padding: calc(#{$card-padding/2}) 0;
        }

        &__date {
            font-size: $fs-sub;

            @include tablet() {
                font-size: calc(#{$fs-sub - 1});
            }

            @include mobile() {
                font-size: calc(#{$fs-sub - 2});
            }

            div:nth-child(1) {
                font-size: $fs-header;

                @include tablet() {
                    font-size: calc(#{$fs-header - 5});
                }

                @include mobile() {
                    font-size: calc(#{$fs-header - 7});
                }
            }
        }

        &__time {
            font-size: $fs-time;
            font-weight: bold;

            @include tablet() {
                font-size: calc(#{$fs-time - 10});
            }

            @include mobile() {
                font-size: calc(#{$fs-time - 20});
            }
        }

        &__data {
            display: flex;
            align-items: center;

            &__sun {
                width: 100px;
                height: auto;

                @include tablet() {
                    width: 60px;
                }
            }

            div {
                margin-left: 20px;

                @include medium-size() {
                    margin-left: 10px;
                }

                @include tablet() {
                    margin-left: 20px;

                }
            }
        }
    }

    &__visualization {
        width: 65%;
        background-color: $snow;
        text-align: center;
        padding: $card-padding;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include medium-size() {
            padding: $card-padding calc(#{$card-padding} /2);
        }

        @include tablet() {
            width: 100%;
            min-height: 500px;
        }

        @include mobile() {
            padding: calc(#{$card-padding} /2) 5px;
        }

        &__title {
            font-size: $fs-header;
            color: $jet-2;

            @include tablet() {
                font-size: calc(#{$fs-header - 5});
            }

            @include mobile() {
                font-size: calc(#{$fs-header - 7});
            }

            span:nth-child(2) {
                margin: 0 20px;
                display: inline-block;
                text-align: center;
                width: 180px;

                @include tablet() {
                    width: 155px;
                }

                @include mobile() {
                    width: 145px;
                }
            }

            span:nth-child(odd) {
                &:hover {
                    cursor: pointer;
                    color: $celestial_blue;
                    transition: 0.2s;
                }
            }
        }
    }
}